* {
    
        background-image:url("https://r1imghtlak.mmtcdn.com/c04bab0e34b411eb8c840242ac110003.jpg") ;
        background-repeat: no-repeat;
        /* background-size: contain    ; */
        background-size: cover;
        
    
}